@import './utils.scss';

$album-height: 400px;
$album-text-padding: 16px;

.album {
    position: absolute;
    left: 0;
    height: $album-height;
	width: 30%;
	top: -8px;
	background-size: cover;
	background-position: center;

	.album-text-wrapper {
		background-color: rgba(255, 255, 255, 0.8);
		color: black;
		padding: $album-text-padding;
		width: $album-height - (2 * $album-text-padding);
		position: absolute;
		transform: translate(-166px, 166px) rotate(-90deg);
		left: 0;

		.album-name {
			font-size: 16px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			margin: 0;
		}

		.release-date {
			margin: 0;
		}
	}
}
