@import './utils.scss';

body {
  padding: $padding;
  margin: 0;

  font-family: sans-serif;
  background: $black;
  color: $white;

  @media (max-width: $mobile-width) {
    padding: $padding-mobile;
  }
}
