@import './utils.scss';

$album-height: 400px;
$album-text-padding: 8px;

.album {
    position: absolute;
    left: 0;
    height: $album-height;
	width: 30%;
	top: -8px;
	background-size: cover;
	background-position: center;

	.album-text-wrapper {
		// background-color: rgba(255, 255, 255, 0.7);
		background-color: rgba(0, 0, 0, 0.4);
		// color: black;
		color: $white;
		padding: $album-text-padding;
		width: $album-height - (2 * $album-text-padding);
		position: absolute;
		transform: translate(-177px, 177px) rotate(-90deg);
		left: 0;

		.album-name {
			font-size: 14px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			margin: 0;
		}

		.release-date {
			font-size: 12px;
			margin: 0;
		}
	}
}
