.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 75px;
}

.searchBar input {
  width: 500px;
  font-size: 36px;
  height: 50px;
  padding: 5px 0 5px 15px;
}

.searchIcon > svg {
  height: 40px;
  width: 40px;
  padding-left: 20px;
}

.artists {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artistDiv {
  text-align: center;
  padding: 25px;
  border: 2px solid #E0E0E0;
  margin: 40px;
  opacity: 0.85;
  cursor: pointer;
}

.artistDiv > img {
  object-fit: cover;
  height: 250px;
  width: 250px;
}

.artistDiv > h2 {
  margin-bottom: 0;
}

.heroDiv {
  height: 100%;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1470229722913-7c0e2dbbafd3?ixlib=rb-0.3.5&s=1c98137a7810a5d5e853b2d7736fd3bb&auto=format&fit=crop&w=1500&q=80");
}
