@import './utils.scss';

.insights-svg {
	width: calc(100% - #{$title-width});
	height: 100%;
	float: right;

	// for overlaying on top of albums
	position: relative;
	z-index: 10;
	bottom: 10px;

	@media (max-width: $mobile-width) {
		width: 100%;
	}

	.clear {
		width: 100%;
		height: 100%;
		stroke: none;
		fill: none;
	}

	.axis {
		fill: white;
	}

	.line {
		stroke-width: 6px;
		fill: none;
	}

	.circle {
		fill: $white;
	}


}
